<section id="cart">
  <h3>Giỏ hàng</h3>
  <div class="row-cart">
    <div class="col-8-chosen-product">
      <div class="wrapper-chosen-product">
        <div class="chosen-product-header">
          <span class="company">
            <input type="checkbox" name="" id="" />
            CÔNG TY CỔ PHẦN THƯƠNG MẠI DỊCH VỤ GREEN
          </span>
          <span>Đơn giá</span>
          <span>Số lượng</span>
          <span>Thành tiền</span>
        </div>
        <hr />

        <div class="chosen-product-container">
          {{#each products}}
            <div class="chosen-product-item">
              <span style="width: 53%; display: flex; align-items: center">
                <span><input type="checkbox" name="" id="" /></span>
                <img src="{{lookup this.product_images 0}}" alt="" />
                <span class="chosen-product-name">
                  {{this.product_name}}
                </span>
              </span>
              <span class="chosen-product-price">
                <b>{{this.product_price}}</b>
              </span>

              <span class="chosen-product-quantity">

                <span class="subtract">–</span>

                <span class="quantity">{{quantity}}</span>
                <span class="add">+</span>
              </span>

              <span class="chosen-product-total-price">
                <b>{{totalPrice}}</b>
              </span>
            </div>

          {{/each}}
          {{! <div class="chosen-product-item">
            <span style="width: 53%; display: flex; align-items: center">
              <span><input type="checkbox" name="" id="" /></span>
              <img src="./images/products/acer-nitro5.png" alt="" />
              <span class="chosen-product-name">
                Laptop ACER Nitro 5 AN515-58-52SP (i5-12500H/RAM 8GB/512GB SSD/
                Windows 11)
              </span>
            </span>
            <span class="chosen-product-price">
              <b>24.990.000₫</b>
            </span>
            <span class="chosen-product-quantity">
              <span class="subtract">–</span>
              <span class="quantity">1</span>
              <span class="add">+</span>
            </span>
            <span class="chosen-product-total-price">
              <b>24.990.000₫</b>
            </span>
          </div> }}
        </div>
      </div>
    </div>
    <div class="col-4-total-price">
      <div class="wrap-total-price">
        <div class="discount">
          <p>Khuyến mãi</p>
          <a style="text-decoration: none" href="#">
            <i class="fa fa-money-bill-wave"></i>
            <span>Chọn hoặc nhập khuyến mãi</span>
          </a>
        </div>
        <hr />

        <div class="pay">
          <p>Thanh toán</p>
          <div class="temp-cal pay-item">
            <span>Tổng tạm tính</span>
            <span>{{totalBill}}</span>
          </div>
          <div class="total-price pay-item">
            <span>Thành tiền</span>
            <b style="color: red;">{{totalBill}}</b>
          </div>
          <a href="/checkout">
            <button class="pay-btn">
              <p>Thanh toán</p>
              <span>Bạn cần đăng nhập để tiếp tục</span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>