<div class="pay-form-container">
    <div class="wrap-pay-form pb-5 row">
        <form id="pay-form" class="row g-3 col-8">
            <div class="info-receiver row mb-3">
                <h3>Thông tin người nhận hàng</h2>
                    <div class="col-12 mb-3">
                        <label for="name" class="form-label">Họ tên</label>
                        <input type="text" class="form-control" id="name" placeholder="Vui lòng nhập tên người dùng">
                    </div>
                    <div class="col-6">
                        <label for="phone" class="form-label">Số điện thoại</label>
                        <input type="text" class="form-control" id="phone" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="col-md-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Nhập email của bạn">
                    </div>
            </div>

            <hr>
            <div class="info-receiver row my-3">
                <h3>Địa chỉ nhận hàng</h2>
                    <div class="col-6 mb-3">
                        <label for="tinh" class="form-label">Tỉnh/Thành phố</label>
                        <input type="text" class="form-control" id="tinh" placeholder="Vui lòng nhập tên người dùng">
                    </div>
                    <div class="col-6 mb-3">
                        <label for="quan" class="form-label">Quận/Huyện</label>
                        <input type="text" class="form-control" id="quan" placeholder="Vui lòng nhập tên người dùng">
                    </div>
                    <div class="col-6">
                        <label for="xa" class="form-label">Phường/Xã</label>
                        <input type="text" class="form-control" id="xa" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="col-md-6">
                        <label for="cuthe" class="form-label">Địa chỉ cụ thể</label>
                        <input type="text" class="form-control" id="cuthe" placeholder="Nhập email của bạn">
                    </div>
            </div>

            <hr>

            <div class="payment-methods mt-3">
                <h3>Phương thức thanh toán</h3>
                <span>Thông tin thanh toán của bạn sẽ luôn được bảo mật</span>
                <div class="methods">
                    <div class="method">
                        <label for="e-wallet">
                            <p>Thanh toán bằng ví điện tử</p>
                            <span>Momo, ZaloPay, ApplePay, VNPay</span>
                        </label>
                        <input class="active-method" type="radio" name="paymentMethod" id="e-wallet" value="e-wallet">

                    </div>
                    <div class="method">
                        <label for="payWhenReceive">
                            <p>Thanh toán khi nhận hàng</p>
                        </label>
                        <input type="radio" name="paymentMethod" id="payWhenReceive">
                    </div>
                    <div class="method">
                        <label for="bank">
                            <p>Thanh toán bằng thẻ ngân hàng</p>
                            <span>Vietcombank, Agribank, ACB, NamAbank,...</span>
                        </label>
                        <input type="radio" name="paymentMethod" id="bank">

                    </div>
                    <div class="method">
                        <label for="qrCode">
                            <p>Thanh toán bằng QR Code</p>
                        </label>
                        <input type="radio" name="paymentMethod" id="qrCode">

                    </div>

                </div>
            </div>


            <div class="col-12 mt-5 mb-3">
                <button style="
                        font-weight: bold;
                        margin: 0 auto;
                        font-size: 18px;
                        width: 100%;
                        padding: 12px 0;
                        border-radius: 6px;
                        border: none;
                        color: #fff;
                        background-color: #046425;
                    " type="submit">Thanh toán</button>
            </div>
        </form>

        <div class="order-info col-4">
            <div class="wrap-order-info">
                <h3>Thông tin đơn hàng</h3>
                <div class="order-items">
                    {{#each products}}

                    <div class="order-item">

                        <img src="{{lookup product_images 0}}" alt="">

                        <div class="order-item-info">
                            <div class="order-item-name">
                                <p>{{product_name}}
                                </p>
                            </div>
                            <div class="order-item-quantity">Số lượng <b style="color: green; font-size:16px">{{this.quantity}}</b></div>
                            <div class="order-item-price"><b>{{this.totalPrice}}</b></div>
                        </div>
                    </div>
                    {{/each}}
                    {{!-- <div class="order-item">

                        <img src="./images/products/acer-nitro5.png" alt="">

                        <div class="order-item-info">
                            <div class="order-item-name">
                                <p>Laptop ACER Nitro 5 AN515-58-52SP (i5-12500H/RAM 8GB/512GB SSD/ Windows 11)</p>
                            </div>
                            <div class="order-item-quantity">Số lượng 1</div>
                            <div class="order-item-price"><b>24.990.000₫</b></div>
                        </div>
                    </div> --}}
                </div>

                <div class="order-total-price">
                    <div class="order-price-item">
                        <span>Tổng tạm tính</span>
                        <b>{{totalBill}}</b>
                    </div>
                    <div class="order-price-item">
                        <span>Phí vận chuyển</span>
                        <b>Miễn phí</b>
                    </div>
                    <div class="order-price-item">
                        <span>Thành tiền</span>
                        <b style="font-size: 20px; color: red;">{{totalBill}}
                        </b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>