<div class="pending-container" id="pending">
  <a href="/admin/" style="display: block; 
    color:white; 
    background-color:black; 
    border-radius:10px;
    width:150px;
    height:30px;
    text-decoration:none;
    padding:0.5rem">⬅ Về trang chính</a>
  <div class="pending-title">
    <p class="text-title">
      Danh sách sản phẩm
    </p>
  </div>

  <div class="toolSearchBar">
    <form id="searchPendingData" style="justify-content: center;">
      <div class="search-bar-item" style="width: 30%;">
        <div class="search-item-title">
          <label for="userName">Tìm kiếm sản phẩm</label>
        </div>
        <label
          for="searchString"
          class="searchInput"
          style="display:flex; align-items:center"
        >
          <i class="bi bi-search" style="margin-right: 4px;"></i>
          <input
            type="text"
            id="searchString"
            name="searchString"
           
            style="width: 100%;"
          />
        </label>
      </div>

      <div class="search-bar-item">
        <div class="search-item-title">
          <label>Tìm kiếm theo</label>
        </div>
        <div style="width:200px; display:flex; justify-content:space-between;">
          <div style="display: grid; justify-items: center;">
            <label for="productId">Mã sản phẩm</label>
            <input
              type="radio"
              id="productId"
              name="searchType"
              value="1"
              checked
            />
          </div>
          <div style="display: grid; justify-items: center;">
            <label for="productName">Tên</label>
            <input type="radio" id="productName" name="searchType" value="2" />
          </div>
          <div style="display: grid; justify-items: center;">
            <label for="categoryId">Danh mục</label>
            <input type="radio" id="categoryId" name="searchType" value="3" />
          </div>
        </div>

      </div>
      <div class="search-bar-item" style="width: 220px;">
        <div>
          <label for="amount" class="search-item-title">Số tiền:
            <span id="amountDisplay" style="font-size: 14px;">Mọi số tiền</span></label>
        </div>
        <input
          type="range"
          list="amountmarks"
          id="amount"
          name="amount"
          class="searchInput"
          min="0"
          max="100"
          step="1"
          value="0"
          oninput="setAmountValue(this);"
          style="padding: 0;"
        />
        <datalist id="amountmarks">
          <option value="0"></option>
          <option value="10"></option>
          <option value="20"></option>
          <option value="30"></option>
          <option value="40"></option>
          <option value="50"></option>
          <option value="60"></option>
          <option value="70"></option>
          <option value="80"></option>
          <option value="90"></option>
          <option value="100"></option>
        </datalist>
      </div>
      <div style="align-self:end;">
        <button
          class="btn btn-info"
          type="button"
          style="margin-right: 8px;"
          onclick="searchPendingUser();"
        >Search</button>
        <button class="btn btn-secondary" type="reset">Reset</button>
      </div>
    </form>
  </div>

  <div class="dataTable">
    <table class="table" style="margin: 0;">
      <thead>
        <tr>
          <th scope="col">Mã sản phẩm</th>
          <th scope="col">Tên</th>
          <th scope="col">Giá</th>
          <th scope="col">Danh mục</th>
          <th scope="col">Tùy chọn</th>
        </tr>
      </thead>
      <tbody id="productData">
        {{#each products}}
          <tr>
            <td>{{this.product_id}}</td>
            <td>{{this.product_name}}</td>
            <td>{{this.product_price}}</td>
            <td>{{this.category_id}}</td>

            <td>
              <button
                onclick="window.location.href =`/admin/productDetail/{{this.product_id}}`"
                class="btn btn-info"
              >Chi tiết</button>

              <button
                data-bs-toggle="modal"
                data-bs-target="#cancelModal-{{this.product_id}}"
                class="btn btn-danger"
              >Xóa</button>

            </td>
          </tr>

          {{! Confirm modal }}
          <div
            class="modal pending-modal fade"
            id="confirmModal-{{this.username}}"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <form action="/admin/activated/{{this.username}}" method="POST">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm Modal</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    {{this.username}}
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          {{! Cancel modal }}
          <div
            class="modal pending-modal fade"
            id="cancelModal-{{this.username}}"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <form action="/admin/cancel/{{this.username}}" method="POST">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancel Modal</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    {{this.username}}
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          {{! Add information modal }}
          <div
            class="modal pending-modal fade"
            id="addInformationModal-{{this.username}}"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <form action="/admin/addInfo/{{this.username}}" method="POST">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add
                      Information Modal</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body">
                    {{this.username}}
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-bs-dismiss="modal"
                    >Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        {{/each}}

      </tbody>
    </table>
    <div class="tableNotification">
      {{#if noData.status}}
        <div style="color:#000; padding-top: 0.5rem;">{{noData.msg}}</div>
      {{/if}}
    </div>
  </div>
</div>

<!-- Modal -->