<style>
  .order-btn { text-decoration: none; padding: 10px 36px; border-radius: 4px;
  font-size: 20px; font-weight: 600; margin-left: 12px; cursor: pointer; color:
  #fff; background-color: #046425;} .order-btn:hover { color: #fff; }
</style>
<div class="back-btn">
  <a href="/">←</a>
</div>
<div
  class="item-container mb-5"
  style="margin-top: 8rem; color:#000; background-color: #fff"
>
  <div class="primary-info">
    <div class="right-side">
      <div class="main-picture">
        <img src="{{lookup product.product_images 0}}" />
      </div>
      <div class="others-picture">
        {{#each product.product_images}}
          <img src="{{this}}" />
        {{/each}}
      </div>
    </div>
    <div class="left-right">
      <div class="col-xs-12 product_parameters">
        <h2 class="product_name">{{product.product_name}}</h2>

        <p></p>
        <p>
          <span style="font-size: 18px">✔&nbsp;Bảo hành chính hãng
            12&nbsp;tháng.&nbsp;</span>
        </p>
        <p>
          <span style="font-size: 18px">✔ Hỗ trợ đổi mới trong 7 ngày.&nbsp;</span>
        </p>
        <p>
          <span style="font-size: 18px">✔ Windows bản quyền tích hợp.&nbsp;</span>
        </p>
        <p>
          <span style="font-size: 18px">✔ Miễn phí giao hàng toàn quốc.</span>
        </p>
        <hr />

        <p>
          <span style="color: rgb(7, 81, 7)"><span
              style="font-size: 18px"
            ><strong><u>ƯU ĐÃI KHI MUA KÈM LAPTOP TẠI GREEN.VN:&nbsp;</u></strong></span></span>
        </p>
        <p>
          <span style="font-size: 18px">🎁 Giảm ngay 100.000đ khi mua
            chuột&nbsp;TUF Gaming M3, Logitech G203, G102.<br />🎁 Giảm ngay
            100.000đ khi mua thêm màn hình máy tính.<br />🎁 Giảm ngay 100.000đ
            khi mua thêm Ram.<br /></span>
        </p>
        <p>&nbsp;</p>
        <p>
          <span style="font-size: 18px">Và còn rất nhiều ưu đãi khác.
            <a href="#"><span style="color: #3498db"><strong>XEM NGAY CHI TIẾT
                  TẠI ĐÂY</strong></span></a>
          </span>
        </p>
        <hr />

        <div class="product_nav_btn" style="display: flex; align-items: center">
          <div
            class="product_sales_off pull-left"
            style="font-size: 22px; font-weight: bold"
          >
            <span class="price-text">Giá: </span>
            <span
              class="product_sale_price text-danger"
            >{{product.product_price}}</span>

            <div class="product-detail-btn">
              <a
                href="/addToCart/{{product/product_id}}"
                class="add-to-cart-btn"
              >Thêm vào giỏ hàng</a>
              <a href="#" class="btn-success order-btn">Đặt hàng</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-info mt-5">
    <h3>Cấu hình chi tiết</h3>
    <table cellpadding="3" cellspacing="0">
      <tbody>
        {{#each product.product_detail}}
          {{#if this}}
            <tr>
              <td class="header">{{#uppercase @key}}{{/uppercase}}</td>
              <td>{{this}}</td>
            </tr>
          {{/if}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>